/* zeroing*/
*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* table styles start*/
#reloadCalc .table1V,table.table1V td{
    border: 1px solid #d6d5d5;
    font-size: 16px;
    text-align: center;
    border-collapse: collapse
}

.table1C td:hover,
.table1V td:hover{
    color: rgb(255, 0, 0);
    font-weight: 700;
}

.hidden_elements{
    display: none;
}

#getTopTableElement1,
#getTopTableElement2{
    background-color: rgba(112, 187, 103, 0.8);
}

.th_left_style{
    border: 1px solid #fff !important;
    color: #fff !important;
    background-color: rgba(112, 187, 103, 0.8);
}

.table1V{
    border: 3px solid rgba(112, 187, 103, 0.8) !important;
    box-shadow: 0 0 3px rgba(112, 187, 103, 0.8);
    margin-bottom: 10px;
}

table.table1V th {
    border: 1px solid #fff;
    font-size: 12px;
    color: #fff;
    padding: 0;
    min-width: 50px;
}

.table__length_style {
    color: #FFFFFF;
    max-width: 100%;
    max-height: 50%;
    min-height: 18px;
    margin-top: 2px;
    border-top: 1px solid #999;
    background: rgba(112,187,103,0.8);
}

.th_style{
    border-top: none;
    border-right: none;
    border-left: none;
    text-transform: uppercase;
    background: rgba(112,187,103,0.8);
    /*color: #0c4684;*/
}

.th_style_new{
    border-bottom: none;
    background: rgba(112,187,103,0.8);
    text-transform: uppercase;
}
/* table styles end */
/*-----------------------*/
/*-----------------------*/

/*-----------------------*/
/*-----------------------*/
/* main layout of block start */
.calculate__wrapper-block{
    max-width: 1200px;
    padding: 10px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    flex: auto;
}

.calculate__title{
    color: #555;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px 0;
}

.calculate__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table__main-block{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.under__table-text{
    text-align: justify;
}

.inputs__main_block{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;
}

.title__calculator{
    color: #555;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.title__calculator::after{
    content: '';
    position: absolute;
    top: 20px;
    left: -20px;
    width: 110%;
    height: 2px;
    background-color: rgba(112,187,103,0.8);
}

.blocks__of_inputs{
    width: 100%;
    height: 90px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blocks__of_inputs-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input__block-item{
    height: 45px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.input_block input{
    text-align: center;
    font-size: 14px;
}

.label_block{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}

.count__button{
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(112,187,103,0.8);
    border: none;
}

.attention {background:#999}
